**/node_modules
**/dist
**/coverage
**/build
**/.expo
pnpm-lock.yaml
apps/api/pnpm-lock.yaml
apps/mobile/pnpm-lock.yaml
apps/web/pnpm-lock.yaml
apps/api/src/drizzle/out
output.css
apps/web/output.css
